* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

header {
    font-family: nunito;
    padding: 1rem;
    background-color: rgb(5, 66, 90);
    color: white;
}
header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
header label {
    margin-right: 1rem;
}